{% extends "./base.njk" %}

{% block content %}
    <div class="app-layout__content">
        <h1 class="govuk-heading-xl">
          {% if not isIndex %}<span class="govuk-caption-xl">Community components</span>{% endif %}
          {{ title }} <span class="govuk-link govuk-body"><a href="">Edit</a></h1>
        </h1>
        
        {{ content | safe }}

        {% if isIndex or isArchive %}
        {% else %}
          {% include "./partials/community-contribute.njk" %}
        {% endif %}

    </div>
{% endblock %}
