{% extends "./base.njk" %}
{% from "./macros/card.njk" import card %}

{% block title %}MoJ Design System{% endblock %}

{% block content %}

  <div class="app-masthead ">
      <div class="app-layout__content">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      {{ title }}
    </h1>
    <p>
      Use the MoJ Design System to learn from the work and experiences of others, contribute back into the design system to share your knowledge, and reuse as much as possible to avoid repeating what has already been done.
    </p>
      </div>
  </div>

  <div class="app-layout__content">
      <div class="app-cards">
        {% call card({title: "What's new" })%}
          <p class="govuk-body">26 November 2024: We’ve archived the <a href="/archive/password-reveal/">password reveal component</a>. We recommend that teams use the <a href="https://design-system.service.gov.uk/components/password-input/">GOV.UK Design System password input</a> instead.</p>
        {% endcall %}

        {% call card({title: "Community collaboration" })%}
            <p>This space is for everyone to help improve the Design System by contributing new ideas and taking part in discussions.</p>

            <p>Anyone can get involved with the MoJ Design System by proposing new components and offering feedback and insights.</p>
            
            <h3>Adding new components to the design system</h3>

            <p>You can add your new component in the MoJ Design System by selecting "<strong>Add new component</strong>".</p>

            <p>After submitting your new component, it will be available to view immediately in the design system. All new components added by community users are tagged as "<strong>community components</strong>".</p>

            <p>They're only intended for use in the alpha and beta phases of the project. As these are components submitted by the community, they're not for use in a live environment until integrated into the design system.</p>

            <h3>Integrating community components into the design system</h3>

            <p>The MoJ Design System team reviews all newly submitted components. This supports the design, build, and deliver of accessible and consistent components to the design system. We'll work with you to support the development of all new components other teams can then reuse.</p>

            <p>Once the review is finished and the component is complete, the team will look to remove the "<strong>community component</strong>" tag. This means it is ready for use across all phases of an Agile project.</p>

            <!-- <p><a href="/get-involved/contribute" class="govuk-link">Propose a contribution</a> to the MoJ Design System.</p> -->

            <h3>Community changes to components and providing feedback</h3>

            <p>To continue improving the MoJ Design System, you can suggest changes to components as well as provide feedback as part of discussions on each component.</p>

            <p>To do so, go to the component page and select the link to take you to the discussion on GitHub to share your insights and any research you have available.</p>

        {% endcall %}
    </div>

    {{ content | safe }}
  </div>

{% endblock %}
