
<h2 class="govuk-heading-l">Contribute to﻿ the community discussion</h2>


<p class="govuk-body">
  The MoJ Design System team would like to hear:
  <ul class="govuk-list govuk-list--bullet">
    <li>how you have used this {{ type }}</li>
    <li>any feedback you have about its usage, for example accessibility or ideas for improvement</li>
  </ul>
</p>

<p class="govuk-body">
  Add these comments to the <a class="govuk-link" href= {{githuburl}} >{{ title|lower }} discussion on Github</a>.
</p>
<!--
<p>[The following sections require contributions]</p>
<p><a href="">Overview</a></p>
<p><a href="">When to use</a></p>
<p><a href="">When not to use</a></p>
<p><a href="">Add error states</a></p>
<p><a href="">Add research information</a></p>
-->